

<div className="col-sm-6 mb-3 mb-sm-0 mt-2">
    <div className="card text-bg-secondary mb-3">
        <img class="card-body">
        <h5 class="card-header">{{producto.nombreproducto}}</h5>
        <img src={{producto.imagen.src}} alt={{producto.imagen.alt}}>
        <p className="card-text"> Precio: {{producto.precio}}</p>
        <p>Categoria del Producto: {{producto.categoria.nombrecategoria}} </p>
        <p>Tipo de Producto: {{producto.descripcion}} </p>
        <a href="#" className="btn btn-primary">Comprar</a>
    </div>
</div>



